[user]
	name = Jamie Reid
	email = jamie@jre.id.au

[core]
	editor = nvim
	pager = less -+$LESS -FRX
	hooksPath = ~/.githooks
	excludesfile = /Users/jam/.gitignore_global

[alias]
	co = checkout
	cl = clone
	df = diff
	br = branch
	lg = log --graph --oneline --format='%C(green)%h%C(auto)%d%Creset %C(magenta)%aN%Creset %s %C(yellow)%cr%Creset'
	rs = reset
	rh = reset --hard
	sm = submodule
	st = status
	up = !sh -c 'git pull --rebase --prune && git log --pretty=format:\"%Cred%ae %Creset- %C(yellow)%s %Creset(%ar)\" HEAD@{1}..'
	unstage = reset HEAD --
	last = log -1 HEAD
	wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
	wt = worktree
	wtl = worktree list
	wtb = "!f() { git branch -f $1 $2; git worktree add $1 $1; }; f"
	wtbm = "!f() { git branch -f $1 origin/$(git remote show origin | awk '/HEAD branch/ {print $NF}'); git worktree add $1 $1; }; f"
	wtr = "!f() { git worktree remove -f $1; git branch -D $1; }; f"

[color]
	ui = true
	diff = auto
	grep = auto
	branch = auto

[diff]
	tool = vimdiff

[grep]
	extendRegexp = true
	lineNumber = true

[url "https://aur.archlinux.org/"]
	insteadOf = "aur:"

[url "https://github.com/"]
	insteadOf = "gh:"

[url "git@github.com:"]
	pushInsteadOf = "gh:"

[url "git@github.com:jamiereid/"]
	insteadOf = "mygh:"

[url "git@ssh.dev.azure.com:v3/ACTGovernment/NCS/"]
	insteadOf = "work:"

[url "git@git.sr.ht:~"]
	insteadOf = "srht:"

[sendemail]
	smtpserver = /usr/bin/msmtp

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[includeIf "gitdir:~/src/work/"]
	path = ~/.gitconfig-workemail

[commit]
	template = ~/.gitmessage
[fetch]
	prune = true
