.DS_Store

zsh/zsh/antigen/
zsh/zsh/cache/

emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/elpa/
emacs/.emacs.d/recentf
emacs/.emacs.d/.python-environments/
emacs/.emacs.d/bookmarks
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/network-security.data
emacs/.emacs.d/settings.el

vim/.vim/bundle

config/.config/*
!config/.config/rofi
!config/.config/i3
!config/.config/compton.conf
