fish/.config/fish/fishd.1c1b0d066ea1
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/plugged/
fish/.config/fish/functions/fish_user_key_bindings.fish
bin/bin/clogin
fish/.config/fish/functions/fzf_key_bindings.fish

