/*************************
 * urxvt                 *
 *************************/
urxvt*loginShell:       true
urxvt*inheritPixmap:    true
urxvt*tintColor:        white
urxvt*transparent:      true
urxvt*shading:          40
urxvt*background:       Black
urxvt*foreground:       White
urxvt*scrollBar:        false
urxvt*scrollBar_right:  true
urxvt*transpscrollbar:  true
urxvt*saveLines:        50000
urxvt*font:             xft:droid sans mono:pixelsize=8
urxvt.perl-ext-common:  default,matcher
urxvt.urlLauncher:      google-chrome
urxvt.matcher.button:   2
urxvt.matcher.pattern.1:\bwww\.[\w-]\.[\w./?&@#-]*[\w/-]

/*************************
 * xterm                 *
 *************************/
xterm*termName:         xterm-256color
xterm*borderWidth:      0
xterm*utf8:             true
xterm*faceName:         Droid Sans Mono:  style=Medium: size=8:  antialias=true
xterm*dynamicColors:    true
xterm*locale:           true
xterm*scrollTtyOutput:  true
xterm*scrollBar:        false
xterm*rightScrollBar:   false
xterm*jumpScroll:       true
xterm*multiScroll:      true
xterm*toolBar:          false
xterm*saveLines:        20000
