@import url("colours-gruv.css");

@keyframes blink-warning {
	70% {
		color: @text-muted;
	}

	to {
		color: @text-muted;
		background-color: @warning;
	}
}

@keyframes blink-critical {
	70% {
		color: @text-muted;
	}

	to {
		color: @text-muted;
		background-color: @critical;
	}
}



/* Reset all styles */
* {
	border: none;
	border-radius: 3px;
	min-height: 0;
	margin: 0.2em 0.3em 0.2em 0.3em;
}

/* The whole bar */
#waybar {
	background-color: @bg-bar;
	color: @text-default;
	font-family: "Cantarell", "Iosevka Nerd Font";
	font-size: 14px;
	font-weight: bold;
}

#battery,
#clock,
#submap,
#network,
#pulseaudio,
#custom-updates,
#custom-tailscale,
#custom-espanso,
#tray,
#gamemode,
#backlight {
	padding-left: 0.6em;
	padding-right: 0.6em;
}

#gamemode {
	padding-left: 0.6em;
	padding-right: 0;
}

#submap,
#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.critical {
	color: @critical;
}

#submap,
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

#network.disconnected,
#battery.warning {
	background: @warning;
	color: @text-dark;
}

#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}


#submap {
	color: @text-submap;
	background: @bg-submap;
}

#gamemode {
	color: @text-gamemode;
	background: @bg-gamemode;
}

/* #workspaces { */
/* 	background: @bg-workspaces; */
/* } */

#workspaces button {
	background: @bg-workspaces;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: @text-workspacesinactive;
	font-size: 1em;
	border-radius: 0px;
}

#workspaces button:first-child {
	border-radius: 3px 0px 0px 3px;
}

#workspaces button:last-child {
	border-radius: 0px 3px 3px 0px;
}

#workspaces button.visible {
	background: @bg-workspacesfocused;
	color: @text-workspacesfocused;
}

#workspaces button.urgent {
	color: @white;
	background: @critical;
	opacity: 1;
}

#window {
	margin-right: 40px;
	margin-left: 40px;
	font-weight: normal;
}

#bluetooth {
	background: @bg-bluetooth;
	color: @text-bluetooth;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0 0.6em;
}

#custom-updates {
	background: @bg-updates;
	color: @text-updates;
	font-weight: bold;
	padding: 0 0.6em;
}

#custom-espanso {
	background: @bg-espanso;
	color: @text-espanso;
	font-weight: bold;
	padding: 0 0.6em;
}

#custom-media {
	background: @bg-updates;
	color: @text-updates;
	font-weight: bold;
	padding: 0 0.6em;
}

#idle_inhibitor {
	background: @bg-idle;
	color: @text-idle;
	font-weight: bold;
	padding: 0 0.6em;
	padding-right: 1em;
}

#network {
	background: @bg-network;
	color: @text-network;
}

#battery {
	background: @alt-bg
}

#backlight {
	background: @alt-bg;
}

#clock {
	color: @text-clock;
	background: @bg-clock;
	font-size: 1.2em;
}

#pulseaudio {
	background: @bg-pulseaudio;
	color: @text-pulseaudio;
}

#pulseaudio.muted {
	background: @critical;
	color: @text-muted;
}

#pulseaudio.input.source-muted {
	background: @bg-pulseaudio;
	color: @text-pulseaudio;
}

#pulseaudio.input {
	background: @critical;
	color: @text-muted;
}

#tray {
	background: @bg-tray;
	color: @text-tray;
}

#custom-tailscale {
	background: @bg-vpn;
	color: @text-vpn;
}

#custom-tailscale.connected {
	background: @bg-vpn-connected;
	color: @text-vpn;
}

tooltip label {
	color: @text-tooltip-label;
}

tooltip {
	background-color: @bg-tooltip;
}
