* {
	border: none;
	border-radius: 0;
	font-family: Iosevka Nerd Font;
	font-size: 14px;
	box-shadow: none;
	text-shadow: none;
}

window#waybar {
	color: #A6A28C;
	background: transparent;
}

#workspaces {
	margin: 0 5px;
}

#workspaces button {
	color: white;
	padding: 0 5px;
	border-radius: 40%;
}

#workspaces button.visible {
	border: 2px solid #A6A28C;
}

#workspaces button.focused {
	border: 2px solid #60ac39;
}

#workspaces button.urgent {
	color: #D73737;
}

#mode,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#tray {
	margin: 0 10px;
}

#battery.warning {
	color: #ae9513;
}

#battery.critical {
	color: #d73737;
}

#battery.charging {
	color: #60ac39;
}

window#waybar .modules-left {
	margin-left: 10px;
}

window#waybar .modules-right {
	margin-right: 10px;
}

window#waybar .modules-center,
window#waybar .modules-left,
window#waybar .modules-right {
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 1rem;
	transition: none;
	background-color: rgba(32, 32, 29, 0.8);
}

window#waybar.empty .modules-center {
	padding: 0px;
	background: transparent;
}
